<div class="row">
    <div class="col">
        <h1>Popular Tags</h1>
        <a href="">Java</a>
        <a href="">Kotlin</a>
        <a href="">Python</a>
        <a href="">C++</a>
        <a href="">C#</a>
        <a href="">Scala</a>
        <a href="">Scheme</a>
        <a href="">Prolog</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>Best Members</h1>
        <a href="">Dr. Strange</a> <br>
        <a href="">Spooky Scary Skeleton</a> <br>
        <a href="">Donald Trump</a> <br>
    </div>
</div>